<h1>Episode Show Page</h1>

Average Rating for episode appearances: <b><%= Episode.avgrating(@episode) %><br><br></b>

<%= @episode.date %><br>
<% @episode.guests.each do |guest| %>
    <ul>
    <li><b>Guest: </b><%= link_to guest.name, guest_path(guest) %> </li>
    </ul>
<% end %>




